* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ripple-btn {
    padding: 20px 30px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: #e76f51;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.ripple-btn .ripple-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}
@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
